#navegador{
    background-color: azure;
    
    
}
#navegador li{
    
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
    text-decoration: none;
    background-color: antiquewhite;
}
#navegador li:hover{
    
    background-color:grey;
} 